<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="nav nav-tabs">
        <li role="presentation"  routerLinkActive="active"
           [routerLinkActiveOptions]="{exact:true}">
          <!--<a href="#">Home</a>-->
          <a routerLink="/">Home</a>
        </li>
        <li role="presentation" routerLinkActive="active">
         <!-- <a href="/products">Products</a>-->
          <a routerLink="/products">Products</a>
        </li>
        <li role="presentation" routerLinkActive="active">
         <!-- <a href="/users">Users</a>-->
          <a routerLink="/users">Users</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
       <!--<app-home></app-home>--> 
       <router-outlet></router-outlet> <!-- which component should be bootstrap is done by router-outlet -->
    
    </div>
  </div>

 <!--
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <app-users></app-users>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <app-productsnew></app-productsnew>
    </div>
  </div>-->
</div>
