
<br>
<label><b>Entered Text : </b> </label> {{ simpleInput }}
<br>
<label><b>Property Value: </b></label> {{prop_name}}
<br>
<label><b>Current Value: </b></label> {{curr_val}}
<br>
<label><b>Previous Value: </b></label> {{prev_val}}
<br>
<!--Output
Entered Text : angular
Property Value: simpleInput
Current Value: "angular"
Previous Value: "angula"
-->

<br>
<p>---------------------------------------------------Services using restapi------------------------------------------------------</p>

<app-covid></app-covid>